@import "tailwindcss";

@plugin "daisyui";

@layer base {
    html {
        scroll-behavior: smooth;
        box-sizing: border-box;
    }

    body {
        position: relative;
        text-rendering: geometricPrecision;
    }
}

@theme {
    --breakpoint-mobile: 375px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1366px;
    --breakpoint-desktop: 1440px;
}

:root {

}