@import "tailwindcss";

@layer base {
    html {
        font-size: 6.25%;
        scroll-behavior: smooth;
        box-sizing: border-box;
    }

    body {
        position: relative;
        font-size: 16em;
        text-rendering: geometricPrecision;
    }
}

@theme {
    --breakpoint-mobile: 375px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1366px;
    --breakpoint-desktop: 1440px;
}

:root {

}